/**
* @Description:    爆炸图效果样式
* @Author:         TSY 
* @Email:          t@tsy6.com
* @CreateDate:     2019/4/11 22:34
*/
#imgContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#imgContainer canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#imgContainer img {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}