/**
* @Description:
* @Author:         TSY
* @CreateDate:     2018/6/9 13:28
*/
@import "//at.alicdn.com/t/font_1118199_po685ck66z.css";
html, body {

}
@font-face {
  font-family: 'AliRegular';
  src:url("../assets/font/Alibaba-PuHuiTi-Regular.otf");
}
html, body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
  color: #191919;
  font: 100 16px AliRegular,Consolas,Monaco,Tahoma,"Helvetica Neue",Helvetica,"Lucida Grande","Lantinghei SC","Open Sans","Microsoft YaHei",sans-serif;
}

html, body, div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: inline-block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
  transition: all .5s;
}

textarea {
  resize: none;
  appearance: none;
}

input {
  appearance: none;
  -webkit-appearance: none;
}

select {
  appearance: none;
  background-color: #fff;
}

button {
  border: none;
}

p, span {
  letter-spacing: 2px;
  word-break: break-all;
}

.mescroll-totop-self {
  bottom: 50px !important;
}